@use '../../globals';

.main {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    background-color: globals.$form-color;

    h1 {
        text-align: center;
        font-size: 1.8rem;
        color: globals.$text-color;
    }
}